<div class="container">

  <div class="columns is-desktop">
    <div class="column colored">1</div>
    <div class="column colored">2</div>
    <div class="column colored">3</div>
    <div class="column colored">4</div>
    <div class="column colored">5</div>
  </div>

  <br>

  <div class="columns is-mobile">
    <div class="column
                colored
                is-one-quarter-mobile
                is-two-thirds-tablet
                is-half-desktop">1</div>
    <div class="column colored">2</div>
    <div class="column colored">3</div>
  </div>

  <br>

  <div class="columns is-mobile is-multiline">
    <div class="column colored is-one-third"><code>is-one-third</code></div>
    <div class="column colored is-one-third"><code>is-one-third</code></div>
    <div class="column colored is-one-third"><code>is-one-third</code></div>
    <div class="column colored is-half"><code>is-half</code></div>
    <div class="column colored is-half"><code>is-half</code></div>
  </div>


</div>
