<body>


<h1>Memory A</h1>
    <p>
      memory-a works!
    </p>

<p>
  This is myArray: {{myArray}}
</p>
<p>
  and the mean of myArray is: {{ myArray | mean}}
</p>
<br>

<div>
  <h4>app-mean-pipe-host</h4>
  <app-mean-pipe-host></app-mean-pipe-host>
</div>

<div class="list" id="list">
    <ul>
      <li *ngFor="let item of parents; let indx='index'">
        <span *ngIf="item.collapsed" (click)="onClick(item)">
          <fa name="plus"></fa>
        no.{{indx}} {{item.name}}
        </span>

        <span *ngIf="!item.collapsed"
              (click)="onClick(item)">
          <fa name="minus"></fa>
        no.{{indx}} {{item.name}}
        </span>

      </li>
    </ul>



</div>

</body>
