<div class="grey-background">


  <div class="container">

    <div class="white-box">

      <!--<form>-->
        <!--<div class="field is-horizontal">-->

          <!--<div class="field-body">-->

            <!--<div class="field">-->
              <!--&lt;!&ndash;<label class="field">Place</label>&ndash;&gt;-->
              <!--<div class="control">-->
                <!--<input class="input"-->
                       <!--type="text"-->
                       <!--placeholder="Place">-->
              <!--</div>-->
              <!--<span class="help">Place Name is required</span>-->
            <!--</div>-->


            <!--<div class="field">-->
              <!--&lt;!&ndash;s&ndash;&gt;-->
              <!--<div class="control">-->
                <!--<input class="input"-->
                       <!--type="text"-->
                       <!--placeholder="Station Name">-->
              <!--</div>-->
              <!--<span class="help">Station Name is required</span>-->
            <!--</div>-->

          <!--</div>-->

        <!--</div>-->

        <!--<div class="control">-->
          <!--<button class="button is-primary">Submit</button>-->
        <!--</div>-->



      <!--</form>-->

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">From</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Name">
              <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input class="input is-success" type="email" placeholder="Email" value="alex@smith.com">
              <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
              <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
            </p>
          </div>
        </div>
      </div>


    </div>



  </div>



</div>




