

.grey-background {
  background-color: #e5edf4;
  height: 600px;
}

.white-box {
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  margin: 0px 40px;
  padding-top: 10px;
  background-color: white;
  position: relative;
  top: 50px;
  height: 400px;
}
