<div class="grey-area">

  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    (select)="onSelect($event)">
  </ngx-charts-pie-chart>

  <br><br>
  <hr>
  <br>

  <div class="container">
    <h2>number cards</h2>
    <div class="box">
      <div class="column is-half">
        <div id="chart">
          <ngx-charts-number-card
             [scheme]="colorScheme"
             [results]="data"
             >
          </ngx-charts-number-card>
        </div>
      </div>
    </div>
  </div>

</div>
