<!--<h3>This is playground</h3>-->

<!--<button (click)="onClickButton()">hit me please!</button>-->

<!--<p *ngIf="serverCreated; else elseCondition">Server was created!</p>-->
<!--<ng-template #elseCondition>-->
  <!--<p>Server does not exist!</p>-->
<!--</ng-template>-->

<!--<app-cockpit [fromParent]="information"-->
             <!--(childValue)="onChildUpdate($event)"-->
<!--&gt;-->
<!--</app-cockpit>-->


<!--<p>-->
  <!--And know I sending data from child component (this is such awsome program):-->
  <!--{{forParent}}-->
<!--</p>-->
<body>

  <header>Testing router transitions</header>

  <nav>
    <a routerLink="/memory-a" routerLinkActive="active">Memory A</a>
    <a routerLink="/memory-b" routerLinkActive="active">Memory B</a>
    <a routerLink="/memory-c" routerLinkActive="active">Memory c</a>
    <a routerLink="/charts" routerLinkActive="active">Charts</a>
    <a routerLink="/news" routerLinkActive="active">News</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/login-page" routerLinkActive="Active">Login</a>
  </nav>

  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>

  <!--<footer></footer>-->


</body>
